html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  background: black;
  color: white;
}

a {
  color: inherit;
}

.quilt {
  font-family: "Baskerville", Georgia, serif;
}

.quilt-square {
  float: left;
  overflow: hidden;
  font-size: 20px;
}

.quilt-square > p {
  padding-left: 10px;
  padding-right: 10px;  
}

.quilt-square section {
  position: relative;
  cursor: pointer;
}

.quilt-square section > img {
  position: absolute;
  top: 0px;
  left: 0px;
}

.quilt-square section > h1 {
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 500;
  font-family: 'LeagueGothicRegular';
  text-transform: uppercase;
  font-weight: normal;
  margin: 0px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.quilt-square section:hover > h1 {
  text-decoration: underline;
}

.quilt-square section > ul {
  display: none;
}

.info-box-wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1100;
}

.info-box {
  width: 75%;
  margin: 40px auto;
}

.info-box div.close {
  text-align: right;
  padding: 4px;
  background: #404040;
  cursor: pointer;
}

.info-box div.close:after {
  content: 'X';
}

.info-box div.close:hover {
  background: firebrick;
}

.info-box section {
  position: relative;
}

.info-box section {
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
  border-bottom: 1px solid #404040;
}

.info-box section > img {
  position: absolute;
  top: 0px;
  left: 0px;
  -moz-transform: scale(2.0);
  -moz-transform-origin: 0% 0%;
  -webkit-transform: scale(2.0);
  -webkit-transform-origin: 0% 0%;
  clip: rect(0px, 128px, 128px, 0px);
}

.info-box section > h1 {
  position: absolute;
  top: 80px;
  left: 0px;
  z-index: 500;
  font-family: 'LeagueGothicRegular';
  text-transform: uppercase;
  font-weight: normal;
  font-size: 40px;
  margin: 0px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.info-box section > ul {
  margin-left: 256px;
  padding-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 256px;
}

.info-box section > ul > li {
  list-style-type: none;
  padding-bottom: 10px;
  font-size: 14px;
  color: #f0f0f0;
}

.info-box section > ul > li:first-child > blockquote:first-child {
  margin-top: 0px;
}

.info-box section > ul > li > blockquote:first-child {
  margin-top: 10px;
  margin-bottom: 10px;
}

.info-box section > ul > li > blockquote:first-child {
  margin-left: 0px;
  font-size: 20px;
  font-family: 'LeagueGothicRegular';
  text-transform: uppercase;
  padding-bottom: 10px;
  color: white;
}

#info {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-size: 12px;
  padding: 4px;
  background: rgba(255, 255, 255, 0.1);
}
