html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  background: black;
  color: white;
}

a {
  color: inherit;
}

.quilt {
  font-family: "Baskerville", Georgia, serif;
}

.quilt-square {
  float: left;
  overflow: hidden;
  font-size: 20px;
}

.quilt-square > p {
  padding-left: 10px;
  padding-right: 10px;  
}

.quilt-square section {
  position: relative;
}

.quilt-square section > img {
  position: absolute;
  top: 0px;
  left: 0px;
}

.quilt-square section > h1 {
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 500;
  font-family: 'LeagueGothicRegular';
  text-transform: uppercase;
  font-weight: normal;
  margin: 0px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.quilt-square section:hover > h1 {
  display: none;
}

.quilt-square section > ul {
  margin: 0px;
  padding: 0px;
}

.quilt-square section > ul > li {
  list-style-type: none;
  display: none;
}

.quilt-square section > ul > li:first-child {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 128px;
  height: 128px;
  font-size: 10px;
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.quilt-square section > ul > li:first-child > div.more {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 4px;
  font-size: 14px;
  z-index: 1000;
  cursor: pointer;
}

.quilt-square section > ul > li:first-child > div.more:hover {
  background: rgba(255, 255, 255, 0.5);
}

.quilt-square section > ul > li:first-child > div.more:before {
  content: '»';
}

.quilt-square section > ul > li:first-child > blockquote:first-child {
  display: none;
}

.quilt-square section > ul > li:first-child a {
  color: yellow;
  text-decoration: none;
}

.quilt-square section > ul > li:first-child a:hover {
  text-decoration: underline;
}

.quilt-square section:hover > ul > li:first-child {
  display: block;
}

#info {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-size: 12px;
  padding: 4px;
  background: rgba(255, 255, 255, 0.1);
}
